{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">
    
</head>
<body>
    <a id="home" href="{% url 'home' %}">home</a>
    <a id="registration" href="{% url 'reg' %}">Registration</a>
    <a id="scripts" href="{% url 'scripts' %}">Scripts</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
      </form>
      
      <!-- Display additional user data if needed -->
      {% if user_data %}
        <p>First Name: {{ user_data.first_name }}</p>
        <p>Last Name: {{ user_data.last_name }}</p>
        <!-- Add other fields from user_data as needed --> 
      {% endif %}
      {% for tag in unassigned_tags %}
        <!-- Other tag information -->
        <p>Tag ID: {{ tag.tag_id }}</p>
      {% endfor %}
      </body>
</html>