{% extends 'home/base.html' %}
{% load static %}

 {% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
      </form>
      
      <!-- Display additional user data if needed -->
      {% if user_data %}
        <p>First Name: {{ user_data.first_name }}</p>
        <p>Last Name: {{ user_data.last_name }}</p>
        <!-- Add other fields from user_data as needed -->
      {% endif %}

{% endblock content %}
  